body {
  font-family: Calibri;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.converterField {
  border: #141414 solid;
  border-radius: 13px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px 40px;
  margin-top: 50px;
  width: 500px;
  cursor: default;
}

#fieldHeader {
  display: block;
  font-size: 35px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

#fieldTip {
  display: block;
  font-size: 20px;
  color: #3B3B3B;
  margin-bottom: 10px;
}

input, #convertButton {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  margin-left: 5px;
  border: 2px solid #ADADAD;
  text-align: center;
}

.selectionWrapper {
  position: relative;
  display: inline-block;
}

.selectionWrapper button {
  margin: 0;
  width: 110px;
  height: 40px;
  padding: 0 10px;
  border: 2px solid #ADADAD;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.selectionWrapper ul {
  display: none;
  position: absolute;
  padding: 4px;
  box-sizing: border-box;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 2px solid #333232;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.selectionWrapper ul li {
  cursor: pointer;
  padding: 8px 12px;
  box-sizing: border-box;
  width: 100%;
}

.selectionWrapper:hover ul {
  display: block;
}

.selectionWrapper ul li:hover {
  background: #f0f0f0;
  border-radius: 0;
}

.selectionWrapper ul li:first-child:hover {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.selectionWrapper ul li:last-child:hover {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}


input {width: 60px;}

input:hover, #from:hover, #to:hover {
  border: 2px solid;
}

.hidden {display: none;}

#convertButton {
  background-color: #E6E6E6;
  border: thin solid #ADADAD;
  box-shadow: none;
  cursor: default;
}

#resultString {
  display: block;
  margin-top: 15px;
  color: #16A600;
  font-weight: 500;
  font-size: 19px;
}
